* {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1600585154340-be6161a56a0c");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* طبقة تغميق */
.overlay {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.75),
    rgba(0, 40, 120, 0.6)
  );
  z-index: 0;
}

.card {
  position: relative;
  z-index: 1;
  background: rgba(25, 35, 55, 0.95);
  padding: 25px;
  border-radius: 18px;
  width: 320px;
  text-align: center;
  color: white;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);
}

.card h1 {
  margin-bottom: 20px;
}

select,
input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  margin-bottom: 12px;
  font-size: 14px;
}

.location-box {
  display: flex;
  gap: 8px;
  align-items: center;
}

.location-box .pin {
  background: #2b3a55;
  padding: 10px;
  border-radius: 10px;
}

.gps {
  background: #2b3a55;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.order-btn {
  width: 100%;
  background: #ffd21f;
  color: black;
  border: none;
  padding: 14px;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

#status {
  margin-top: 12px;
  font-size: 13px;
  color: #9cffb6;
}
